body {
  font-family: "Nunito", sans-serif;
  background-color: #e8f4ff;
  width: 100%;
  height: 100%;
}

a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}
.img_logo {
  width: 300px;
}
.bg-light {
  background-color: #ffffff !important;
}
.navbar {
  padding: 0;
}
.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(3rem + 20px);
  background-image: url("../img/Home\ Gradient.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-color: #e8f4ff;
  background-size: cover;
}
.masthead .masthead-content {
  z-index: 1;
  position: relative;
}
.ban_head {
  font-size: 54px;
  font-weight: 600px;
  line-height: 1.2;
  text-align: center;
}
.ban_para {
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
  padding: 1% 10%;
}
.ban_btn {
  margin-bottom: 2%;
}
.masthead .bg-circle_1 {
  z-index: 0;
  position: absolute;
  width: 100%;
  background-image: url("../img/virusb1.svg");
  background-repeat: no-repeat;
}
.masthead .bg-circle_2 {
  z-index: 0;
  position: absolute;
  width: 100%;
  background-image: url("../img/Virusb2.svg");
  background-repeat: no-repeat;
}
.masthead .bg-circle_3 {
  z-index: 0;
  position: absolute;
  width: 100%;
  background-image: url("../img/virusb3.svg");
  background-repeat: no-repeat;
}

.masthead .bg-circle-1 {
  bottom: 1%;
  left: 1%;
  top: 30%;
}
.masthead .bg-circle-2 {
  left: 70%;
  top: 10%;
  right: 20%;
  bottom: 50%;
}
.masthead .bg-circle-3 {
  bottom: 10%;
  right: 2%;
  left: 80%;
  top: 50%;
}

.masthead {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header_bg {
  padding: 10px 0;
}

.main_bg {
  background-color: #e8f4ff;
  padding-bottom: 10%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.main_bg .main_bg_content {
  z-index: 1;
  position: relative;
}
.main_bg .main_bg_cir_11 {
  z-index: 0;
  position: absolute;
  width: 100%;
  background-image: url("../img/virusb4.svg");
  background-repeat: no-repeat;
}
.main_bg .main_bg_cir_12 {
  z-index: 0;
  position: absolute;
  width: 100%;
  background-image: url("../img/virusb5.svg");
  background-repeat: no-repeat;
}

.main_bg .main_bg_cir_21 {
  left: 85%;
  top: -4%;
  bottom: 0%;
  right: 0%;
}
.main_bg .main_bg_cir_22 {
  left: -2%;
  top: 15%;
  right: 30%;
  bottom: 0%;
}
.main_bg .main_bg_cir_23 {
  left: 80%;
  top: 33%;
  bottom: 0%;
  right: 0%;
}
.main_bg .main_bg_cir_24 {
  left: 0%;
  top: 45%;
  right: 30%;
  bottom: 0%;
}
.cont_head {
  line-height: 1.5;
  color: #187dd7;
  font-size: 32px;
  text-align: left;
  font-weight: bold;
  padding-bottom: 20px;
}
.cont_head_1 {
  line-height: 1;
  color: #187dd7;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 70px;
}

.cont_head_2 {
  line-height: 1;
  color: #187dd7;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  padding-top: 130px;
  padding-bottom: 50px;
}

.cont_par {
  margin-bottom: 0rem;
  color: #2c2d32;
  text-align: left;
  line-height: 1.8;
  text-align: left;
  font-size: 18px;
}

.cont_par_1 {
  margin-bottom: 0rem;
  color: #2c2d32;

  line-height: 1.8;
  padding-top: 50px;
  text-align: center;
  font-size: 18px;
}

.cont_par_2 {
  margin-bottom: 0rem;
  color: #187dd7;
  text-align: left;
  line-height: 1.8;
  padding-top: 50px;

  font-size: 18px;
}

.sec_pad {
  padding-top: 10%;
}

.sec_img_cen {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.image_bg {
  width: 100%;
  overflow: hidden;
  background: url(../img/BG_1.svg) no-repeat;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.image_bg .image_bg_content {
  z-index: 1;
  position: relative;
}
.image_bg .image_bg_cir_11 {
  z-index: 0;
  position: absolute;
  width: 100%;
  background-image: url("../img/Virus_2.svg");
  background-repeat: no-repeat;
}
.image_bg .image_bg_cir_12 {
  z-index: 0;
  position: absolute;
  width: 100%;
  background-image: url("../img/Virus_2_1.svg");
  background-repeat: no-repeat;
}

.image_bg .image_bg_cir_21 {
  left: 30%;
  top: 20%;
  bottom: 0%;
  right: 0%;
}
.image_bg .image_bg_cir_22 {
  left: 88%;
  top: 42%;
  right: 30%;
  bottom: 0%;
}

.box_1 {
  border: 0px solid #187dd7;
  border-radius: 0px 50px 0px 0px;
  background-color: #187dd7;
}

.box_head_1 {
  line-height: 1.3;
  color: #fff;
  font-size: 32px;
  text-align: left;
  font-weight: bold;
}
.box_btn_1 {
  border-radius: 0px;
  padding: 12px 0;
  background-color: #fff;
  color: #187dd7;
  text-align: center;
  font-size: 18px;
  border: 0;
}
.box_ico {
  font-size: 25px;
  padding-left: 5px;
}
.box_pad {
  padding: 2.5rem;
}

.box_img_1 {
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
  width: 80px;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 80px;
}

.box_2 {
  border: 0px solid #fff;
  border-radius: 0px 50px 0px 0px;
  background-color: #fff;
}

.box_head_2 {
  line-height: 1.3;
  color: #187dd7;
  font-size: 32px;
  text-align: left;
  font-weight: bold;
  padding-bottom: 10px;
}
.box_btn_2 {
  border-radius: 0px;
  padding: 12px 0;
  background-color: #187dd7;
  color: #fff;
  text-align: center;
  font-size: 18px;
  border: 0;
}

.box_btn_2:hover {
  background-color: #fff;
  color: #187dd7;
}
.box_pad_2 {
  padding: 25px;
}

.box_img_2 {
  padding: 10px;
  background-color: #187dd7;
  border-radius: 50%;
  width: 80px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 80px;
}
.cont_list ul {
  list-style: none;
}

.cont_list ul li {
  margin-bottom: 0rem;
  color: #2c2d32;
  text-align: left;
  line-height: 1.8;

  text-align: left;
  font-size: 18px;
  padding-bottom: 15px;
}

.cont_list ul li::before {
  content: "\2022";
  color: #187dd7;
  font-weight: bold;
  font-size: 40px;
  display: inline-block;
  width: 0.8em;
  vertical-align: middle;
  line-height: 20px;
  margin-left: -1em;
}

/***********container block1 starts here**********/
.container-block1 {
  padding: 30px 0px;
  background-color: #e8f4ff;
}
.block1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.drop-img {
  width: 100%;
  height: auto;
  width: 70px;
}
.block1 h3 {
  color: #187dd7;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.apron-image-container {
  background-color: #ffffff;
  padding: 40px;
  width: 100%;
  /* height: auto; */
  max-width: 260px;

  border: 2px dashed #187dd7;
  border-radius: 25px;
}
.box1 {
  height: 330px;
}
.box2,
.box3,
.box4 {
  height: 210px;
}
.block1b p {
  font-size: 18;
  margin-bottom: 10px;
  font-weight: 600;
}
.apron {
  width: 100%;
  height: auto;
  width: 150px;
}
.apron-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  max-width: 300px;
}
.block1b {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.block1a {
  margin-top: 5% !important;
}

.icon-container-block1b {
  display: flex;
  justify-content: center;
}
.block1b-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.block1b-image-container {
  background-image: url("../img/Assets/Door.svg");
  width: 100%;
  height: auto;
  max-width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.block1b-image {
  width: 100%;
  height: auto;
  width: 150px;
}
.block1b-button {
  border-radius: 20px;
  padding: 8px 5px;
  background-color: #187dd7;
  color: #fff;
  text-align: center;
  font-size: 18px;
  border: 1px solid #187dd7;
  width: 100%;
}
.prev-btn {
  border-radius: 20px;
  padding: 8px 5px;
  background-color: #187dd7;
  color: #fff;
  text-align: center;
  font-size: 18px;
  border: 1px solid #187dd7;
  width: 100%;
}
.button-container {
  display: flex;
  flex-direction: row;
  width: 300px;
}
.P_text_aling {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}
.drop-img_1 {
  width: 50px;
}
/***********container block1 starts here**********/

/***************airborne-container starts here *****/
.airborne-bg {
  padding: 5px;
  background-color: #187dd7;
  border-radius: 50%;
  width: 70px;

  height: 70px;
  display: flex;
  justify-content: center;
}

/***************airborne-container ends here *****/

/****************reverse block starts here***********/
.block2b-image-container {
  background-image: url("../img/reverse/Sleeve_4.svg");
  width: 100%;
  height: 500px;
  max-width: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin: 0% 0%;
}
.block2c-image-container {
  background-image: url("../img/reverse/Sleeve_3.svg");
  width: 100%;
  height: 500px;
  max-width: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin: 0% 0%;
}
.block2a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.block2b-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  max-width: 300px;
}
.block2b-image {
  width: 100%;
  height: auto;
  max-width: 80px;
  position: absolute;
  top: 13%;
}
.block2c-image {
  width: 100%;
  height: auto;
  max-width: 80px;
  position: absolute;
  top: 13%;
}
.apron1 {
  width: 100%;
  height: auto;
  width: 150px;
}

.bg_centre_cc {
  padding-left: 10%;
}
@media only screen and (max-width: 800px) {
  .bg_centre_cc {
    padding-left: 2%;
  }
  .d_g_bg_ico {
    position: relative;
    left: 0%;
    top: 30%;
    opacity: 0.8;
    width: 100px;
  }
}
/****************reverse block ends here***********/
@media only screen and (max-width: 600px) {
  .P_text_aling {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    margin-bottom: 0px !important;
  }

  .apron-text-container p {
    font-size: 14px !important;
  }

  .apron-text-container h5 {
    font-size: 16px !important;
  }
  .block1b p {
    font-size: 14px !important;
    margin-bottom: 30px;
    font-weight: 500;
  }
  .icon-container-block1b .my-3 {
    margin-bottom: 0.5rem !important;
    margin-top: 0rem !important;
  }

  .container-block1 {
    padding: 15px 0px;
  }
  .mobi_pad {
    margin-bottom: 50px;
  }

  .sec_pad {
    padding-top: 100px;
  }

  .ban_head {
    font-size: 42px;
    font-weight: 600px;
    line-height: 1.2;
    text-align: center;
  }

  .cont_head_2 {
    padding-top: 60px;
  }
  .box1,
  .box2,
  .box3,
  .box4 {
    width: 100%;
    height: 120px !important;
    max-width: 250px;
  }
  .block1 h3 {
    color: #187dd7;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
  .block1b-image-container {
    background-image: url("../img/Assets/Door.svg");
    width: 100%;
    height: 230px !important;
    max-width: 180px !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin: 0% !important;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .block1a {
    margin-top: 5% !important;
  }
  b,
  strong {
    font-weight: 600px !important;
  }
  .button-container {
    display: flex;
    flex-direction: row;
    width: 200px;
  }
  .block1b-image {
    width: 100%;
    height: auto;
    width: 100px !important;
    position: absolute;
    top: 20px;
    bottom: 0px;
  }
}
@media (max-width: 375px) {
  .block1 h3 {
    width: 280px;
  }
  .block1a {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  .block1b {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .apron-image-container {
    background-color: #ffffff;
    padding: 5% 5%;
    width: 100%;
    height: 120px;
    max-width: 120px;
    border: 2px dashed #187dd7;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .apron {
    height: 100px;
    width: 50px;
    /* margin-bottom:35% */
  }
  .apron-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 10px 0px 20px;
  }
  .apron-text-container p {
    width: 100%;
  }

  .block1b-image {
    width: 100%;
    height: auto;
    width: 200px;
  }
}
@media (min-width: 377px) and (max-width: 596px) {
  .block1a {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  .apron-image-container {
    background-color: #ffffff;
    padding: 5% 5%;
    width: 100%;
    height: 120px;
    max-width: 120px;
    border: 2px dashed #187dd7;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .apron {
    height: 100px;
    width: 50px;
    /* margin-bottom:35% */
  }
  .apron-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 10px 0px 20px;
  }
  .block1b-image-container {
    background-image: url("../img/Assets/Door.svg");
    width: 100%;
    height: 150px;
    max-width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin: 0% 10%;
  }
  .block1b-image {
    width: 100%;
    height: auto;
    width: 200px;
  }
}

.ban_mg_padd {
  bottom: -2px;
  position: relative;
}

.masthead_bg {
  position: relative;
  overflow-x: hidden !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;

  background-size: cover;
}
.masthead_bg .masthead-content_bg {
  z-index: 1;
  position: relative;
}

.masthead_bg .bg-circle-bg1 {
  z-index: 0;
  position: absolute;
  width: 100%;
  background-image: url("../img/Virus_2.svg");
  background-repeat: no-repeat;
}
.masthead_bg .bg-circle-bg2 {
  z-index: 0;
  position: absolute;
  width: 100%;
  background-image: url("../img/Virus_2.svg");
  background-repeat: no-repeat;
}
.masthead_bg .bg-circle-bg3 {
  z-index: 0;
  position: absolute;
  width: 100%;
  background-image: url("../img/Virus_2_1.svg");
  background-repeat: no-repeat;
}

.masthead_bg .bg-circle_bc1 {
  bottom: 1%;
  left: 20%;
  top: 20%;
}
.masthead_bg .bg-circle_bc2 {
  left: 85%;
  top: 10%;
  right: 20%;
  bottom: 50%;
}
.masthead_bg .bg-circle_bc3 {
  bottom: 10%;
  right: 2%;
  left: 90%;
  top: 70%;
}

.d_g_bg_ico {
  position: absolute;
  left: 0%;
  top: 30%;
  opacity: 0.8;
  width: 70px;
}

.d_g_bg_ico_2 {
  position: absolute;
  right: 0%;
  opacity: 0.8;
  top: 10%;

  width: 60px;
}

.d_g_bg_ico_3 {
  position: absolute;
  right: 10%;
  top: 60%;
  opacity: 0.8;
  width: 50px;
}
